* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #021b48;
}

.top {
    background-color: #1f4b9e;
    display: flex;
}

.logo {

    max-width: 90px;
    max-height: 90px;
}

.hamb{
    text-decoration: none;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 35px;
}

.hamb a{
    text-decoration: none;
    color: #fff;
}

#image {

    max-width: 90px;
    max-height: 90px;
    margin-left: 30px;
    margin-top: 15px;
    flex: 0 0 auto;
}

#perfil {
    width: 90px;
    height: 90px;
    margin-right: 30px;
}

.title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title {
    font-size: 35px;
}

.sub {
    font-size: 25px;
}

.title,
.sub {
    margin-right: 150px;
}

/* ESTILIZAÇÃO DO FOOTER */
.fim {
    background-color: #1f4b9e;
    align-items: center;
    display: block;
    margin-bottom: 0px;
    margin: 0;
    height: 130px;
}

.dir {
    margin-left: 42%;
    align-items: center;
}

.social-media {

    margin-left: 46%;
}

#linha {

    border: 2px solid #fff;
    /* Define a cor e a espessura da linha */
    margin: 20px 0;
    /* Define as margens superior e inferior */
    margin-left: 70px;
    margin-right: 70px;
}

.social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a svg {
    width: 1.1rem;
    fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}