*{
    margin: 0;
    padding: 0;
}
body{
  background-color:#021b48;
}
.top{
    background-color: #1f4b9e;
    margin-top: 0rem;
    display: flex;
    align-items: center;
  }
  
  .logo{
  
    max-width: 90px;
    max-height: 90px;
  
  }
  
  #image{
  
    max-width: 90px;
    max-height: 90px;
    margin-left: 30px;
    margin-top: 15px;
    flex: 0 0 auto;
  }
  .title2{

    flex: 1; /* Ocupa o espaço restante */
      text-align: center; /* Centraliza horizontalmente */
  }
  
  .hamb a{
   text-decoration: none;
    color: #fff;
    margin-left: 50px;
  }

.img_prod img{
  width: 650px;
  height: 650px;
}

.img_prod{

  margin-top: 50px;
  margin-left: 50px;
  flex: 0 0 auto; /* Não flexiona a largura */
  margin-right: 5%; /* Espaçamento entre a imagem e os outros elementos */
}

.desc {
  width: 50%; /* Define a largura do texto */
  flex: 1; /* Ocupa o espaço restante */
}

.conteiner {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se ajustem à largura da tela */
  justify-content: flex-start; /* Alinha os elementos à esquerda */
  
}

.desc {
  max-height: 200px;
  margin-bottom: 10px; /* Espaçamento entre a descrição e os radio buttons */
}

.desc h2{

  margin-top: 50px;
}

.conteiner2{

  width: 50%; /* Define a largura da descrição e opções */
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */

    width: 270px;
    height: 410px;
    border-radius: 1rem;
    background-color: #5757577e;
    margin-top: 60px;
    margin-right: 600px;
    height: 500px;
}

.conteiner3{

  margin-left: 50px;
}

.tamanho {
  display: flex; /* Organiza os radio buttons lado a lado */
}

.tam{
  margin-bottom: 5px;
}

.frete{ 
  margin-top: 10px;
}

.fretebtn{
  background-color: aqua;
  border-radius: 5px;
  height: 25px;
  text-decoration: none;
  
}
.buttons{

  margin-top: 30px;
  margin: 15px;
}