/* ESTILIZA OS BOTÕES EM (COR E TAMANHO) */
.btn {
    width: 5rem;
    height: 2rem;
    margin: 0.5em;
    background: #bababa;
    color: #fff;
    border: none;
    border-radius: 0.625em;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

.top{
  background-color: #1f4b9e;
  margin-top: 0rem;
  display: flex;
  align-items: center;
}

.logo{

  max-width: 90px;
  max-height: 90px;

}

#image{

  max-width: 90px;
  max-height: 90px;
  margin-left: 30px;
  margin-top: 15px;
  flex: 0 0 auto;
}

.title2{

  flex: 1; /* Ocupa o espaço restante */
    text-align: center; /* Centraliza horizontalmente */
}

.hamb a{
 text-decoration: none;
  color: #fff;
  margin-left: 50px;
}
#perfil{
width: 90px;
height: 90%;
}